{{test}}
<div class="container col-xs-12 col-md-8 col-lg-6">
    <div class="jumbotron col-xs-12 col-md-8 col-lg-6">
       <h3>Add a Bean</h3>
        <div ng-show="success" class="alert alert-success">
            <h5>You successfully added <strong>{{success}}</strong></h5>
        </div>
        <div class="well col-xs-12 col-lg-12">
            <input type="text" placeholder="Name" ng-model="newBean.name" />
            <input type="text" placeholder="Place of Origin" ng-model="newBean.region" />
            <input type="text" placeholder="Description" ng-model="newBean.description" />
            <input type="text" placeholder="Purchase URL" ng-model="newBean.url" />
            <input type="text" placeholder="Image URL" ng-model="newBean.image" />

        </div>
                <criteria-selector ></criteria-selector>
<!--
        <div class="container profile-select">
            <div class="well">

                <h4>Roast</h4>
                <select ng-model="newBean.roast" name="roast">
                <option value="Light" selected="selected">Light</option>
                <option value="Medium">Medium</option>
                <option value="Dark">Dark</option>
                <option value="Raw/Green">Raw/Green</option>
                
            </select>

                <h4>Species</h4>
                <select ng-model="newBean.species" name="species">
                <option value="Arabica" selected="selected">Arabica</option>
                <option value="Robusta">Robusta</option>
                <option value="Blend">Blend</option>
                
            </select>

                <h4>Varietal</h4>
                <select ng-model="newBean.varietal" name="species">
                <option value="Bourbon" selected="selected">Bourbon</option>
                <option value="Catimor">Catimor</option>
                <option value="Catuai">Catuai</option>
                <option value="Caturra">Caturra</option>
                <option value="Colombia">Colombia</option>
                <option value="Ethiopian Heirloom">Ethiopian Heirloom</option>
                <option value="Gesha">Gesha</option>
                <option value="Jember">Jember</option>
                <option value="Pacamara">Pacamara</option>
                <option value="SL28">SL28</option>
                <option value="SL34">SL34</option>
                <option value="Tekisic">Tekisic</option>
                <option value="Typica">Typica</option>
                <option value="Villa Sarchi">Villa Sarchi</option>
                <option value="Villalobos">Villalobos</option>
                
            </select>

            </div>

            <div class="well col-sm-4 col-md-4 col-lg-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4">

                <h4>Flavor Notes:</h4><br>
                <span class="notes">{{ data[0] }} FLORAL</span>
                <div class="percentage-cur" ng-init="data[0]=0">

                    <input class="progress-slider" type="range" min="0" max="10" ng-model="data[0]">
                </div>

                <div class="percentage-cur" ng-init="data[1]=0">
                    <span class="notes-text">{{ data[1] }} FRUITTY</span>
                    <input class="progress-slider" type="range" min="0" max="10" ng-model="data[1]">
                </div>

                <div class="percentage-cur" ng-init="data[2]=0">
                    <span class="notes-text">{{ data[2] }} SOUR</span>
                    <input class="progress-slider" type="range" min="0" max="10" ng-model="data[2]">
                </div>

                <div class="percentage-cur" ng-init="data[3]=0">
                    <span class="notes-text">{{ data[3] }} LEAFY</span>
                    <input class="progress-slider" type="range" min="0" max="10" ng-model="data[3]">
                </div>

                <div class="percentage-cur" ng-init="data[4]=0">
                    <span class="notes-text">{{ data[4] }} ROASTED</span>
                    <input class="progress-slider" type="range" min="0" max="10" ng-model="data[4]">
                </div>

                <div class="percentage-cur" ng-init="data[5]=0">
                    <span class="notes-text">{{ data[5] }} SPICED</span>
                    <input class="progress-slider" type="range" min="0" max="10" ng-model="data[5]">
                </div>

                <div class="percentage-cur" ng-init="data[6]=0">
                    <span class="notes-text">{{ data[6] }} NUTTY</span>
                    <input class="progress-slider" type="range" min="0" max="10" ng-model="data[6]">
                </div>

                <div class="percentage-cur" ng-init="data[7]=0">
                    <span class="notes-text">{{ data[7] }} CHOCOLATE</span>
                    <input class="progress-slider" type="range" min="0" max="10" ng-model="data[7]">
                </div>

                <div class="percentage-cur" ng-init="data[8]=0">
                    <span class="notes-text">{{ data[8] }} SWEET</span>
                    <input class="progress-slider" type="range" min="0" max="10" ng-model="data[8]">
                </div>

                <button class="btn btn-primary" ng-click="submitBean(data, newBean)">Submit</button>
            </div>
        </div>
-->
            
    </div>
</div>



