body{
    font-family: 'Raleway', sans-serif;
    color:rgba(55, 37, 5);
} 

div * .notes-text {
    display: inline;
}

div * .progress-slider{
    display: inline;
}
h4, h6{
    display: inline;
    margin-right: 5px;
    margin-left: 10px;
}
h5{
    margin: 5px;
    font-family: 'PT Sans', sans-serif;
    display: inline;
}

h3 {
    text-align: center;
}

.jumbotron{
    border: 1px solid rgba(132, 100, 46, 0.5);
    background-color: white;
}

.well{
    background-color:white;
    border-color: rgba(132, 100, 46, 0.05);
}
.btn {
    margin-top: 10px;
}
.radar-chart {
    max-width: 100%;
    max-height: 100%;
   
     margin: 0 auto;
}

.pie-chart {
    margin-top:10%;
    max-width: 70%;
    max-height: 70%;
}

img{
    margin: 0 auto;
    max-height: 100%;
    max-width:  100%;
    
}


.flavor-notes{
    display: inline;
}

#select-roast{
    margin-left: 18px;
}
#select-variatal{
    margin-left: 3px;  
}

i:hover{
    cursor: pointer;
    color:saddlebrown;
}

.description{
    font-size: 16px;
}

.params{
    margin-top: 20px;
    margin-bottom: 20px;
}

#purchase {
    margin: 0 auto;
    text-align: center;
}

textarea{
    margin-top: 10px;
    width: 400px;
    height: 100px;
}

.inputs{
    margin-right: 20px;
}

.flavor-notes{
    margin-bottom: 20px;
}
.numbers{
    margin-right: 5px;
    margin-left: 5px;
}
.notes-text {
    
    border-radius: 5px;
    padding: 8px;
}

.cards {
    min-height: 600px;
}

/*#floral-slide::-webkit-slider-thumb {*/
#floral-slide::-webkit-slider-runnable-track {

    background: #E3CCFF;
}


/*#fruity-slide::-webkit-slider-thumb{*/
#fruity-slide::-webkit-slider-runnable-track {
    background: #FFE8E1;
}

/*#sour-slide::-webkit-slider-thumb {*/
#sour-slide::-webkit-slider-runnable-track {
    background: #FBFFE7;
}

/*#leafy-slide::-webkit-slider-thumb {*/
#leafy-slide::-webkit-slider-runnable-track {
    background: #DDFFD8;
}


#roast-slide::-webkit-slider-runnable-track {
/*#roast-slide::-webkit-slider-thumb {*/
    background: #AB8E7B;
}

/*#spice-slide::-webkit-slider-thumb {*/
#spice-slide::-webkit-slider-runnable-track {
    background: #FF9485;
}

/*#nut-slide::-webkit-slider-thumb {*/
#nut-slide::-webkit-slider-runnable-track {
    background: #FFD995;
}

/*#choc-slide::-webkit-slider-thumb {*/
#choc-slide::-webkit-slider-runnable-track {
    background: #4A261C;
}

/*#sweet-slide::-webkit-slider-thumb {*/
#sweet-slide::-webkit-slider-runnable-track {
    background: #D4FFFF;
}

input[type=range]{
/*    -webkit-appearance: none;*/
}

input[type=range]:hover{
    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
/*^^^^^^*/
/*You can give each one it's induvidal color here with backgrounds*/
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: silver;
    margin-top: -5px;
}

.flavor-notes, 
.drop-downs {
    background-color: rgba(18, 139, 109, 0.04);
}

.profile-select {
    background-color: rgba(0, 4, 1, 0.05);
}

