<div class="container profile-select">
    <div class="well">
        <div class="row">
        <h4>Roast</h4>
            <select id="select-roast" ng-model="newBean.roast" name="roast">
                <option value="Light" selected="selected">Light</option>
                <option value="Medium">Medium</option>
                <option value="Dark">Dark</option>
                <option value="Raw/Green">Raw/Green</option>
                
            </select>
        </div>
        
        <div class="row">
        <h4>Varietal</h4>
            <select id="select-variatal" ng-model="newBean.varietal" name="species">
                    <option value="Bourbon" selected="selected">Bourbon</option>
                    <option value="Catimor">Catimor</option>
                    <option value="Catuai">Catuai</option>
                    <option value="Caturra">Caturra</option>
                    <option value="Colombia">Colombia</option>
                    <option value="Ethiopian Heirloom">Ethiopian Heirloom</option>
                    <option value="Gesha">Gesha</option>
                    <option value="Jember">Jember</option>
                    <option value="Pacamara">Pacamara</option>
                    <option value="SL28">SL28</option>
                    <option value="SL34">SL34</option>
                    <option value="Tekisic">Tekisic</option>
                    <option value="Typica">Typica</option>
                    <option value="Villa Sarchi">Villa Sarchi</option>
                    <option value="Villalobos">Villalobos</option>
            </select>
        </div>
        
        <div class="row">
        <h4>Process</h4>
            <select id="select-process" ng-model="newBean.process" name="process">
                    <option value="Natural" selected="selected">Natural/Sundried/Dry</option>
                    <option value="Pulped Natural">Pulped Natural/Semi-dry/Honey </option>
                    <option value="Washed">Wet Hulled/Washed</option>

            </select>
        </div>
            

    </div>

    <div class="flavor-notes well col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">

        <h4>Flavor Notes:</h4><br>
        <span class="notes">{{ data[0] }} FLORAL</span>
        <div class="percentage-cur" ng-init="data[0]=0">

            <input class="progress-slider" type="range" min="0" max="10" ng-model="data[0]">
        </div>

        <div class="percentage-cur" ng-init="data[1]=0">
            <span class="notes-text">{{ data[1] }} FRUITTY</span>
            <input class="progress-slider" type="range" min="0" max="10" ng-model="data[1]">
        </div>

        <div class="percentage-cur" ng-init="data[2]=0">
            <span class="notes-text">{{ data[2] }} SOUR</span>
            <input class="progress-slider" type="range" min="0" max="10" ng-model="data[2]">
        </div>

        <div class="percentage-cur" ng-init="data[3]=0">
            <span class="notes-text">{{ data[3] }} LEAFY</span>
            <input class="progress-slider" type="range" min="0" max="10" ng-model="data[3]">
        </div>

        <div class="percentage-cur" ng-init="data[4]=0">
            <span class="notes-text">{{ data[4] }} ROASTED</span>
            <input class="progress-slider" type="range" min="0" max="10" ng-model="data[4]">
        </div>

        <div class="percentage-cur" ng-init="data[5]=0">
            <span class="notes-text">{{ data[5] }} SPICED</span>
            <input class="progress-slider" type="range" min="0" max="10" ng-model="data[5]">
        </div>

        <div class="percentage-cur" ng-init="data[6]=0">
            <span class="notes-text">{{ data[6] }} NUTTY</span>
            <input class="progress-slider" type="range" min="0" max="10" ng-model="data[6]">
        </div>

        <div class="percentage-cur" ng-init="data[7]=0">
            <span class="notes-text">{{ data[7] }} CHOCOLATE</span>
            <input class="progress-slider" type="range" min="0" max="10" ng-model="data[7]">
        </div>
        
        <span class="notes-text">{{ data[8] }} SWEET</span>
        <div class="percentage-cur" ng-init="data[8]=0">
            
            <input class="progress-slider" type="range" min="0" max="10" ng-model="data[8]">
        </div>

        <button class="btn btn-primary" ng-click="submitBean(data, newBean)">Submit</button>
    </div>
    <div class="pie-chart col-xs-6 col-sm-4 col-md-4 col-lg-4" ac-chart="pie-chart">
                <canvas id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels" chart-options="options">
                </canvas>
    </div>
</div>
